html,body{
   position: relative;
   font-family: 'Museo Sans Cyrl';
   // color: #000;
   background-color: #fff;
   overflow-X: hidden;
 
}
.container{
   position: relative;
}

@import "variables";
@import "mixin";

@import "blocks/title";
@import "blocks/item";

// @import "blocks/first";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/services";
@import "blocks/about";
@import "blocks/ability";
@import "blocks/numbers";
@import "blocks/portfolio";
@import "blocks/command";
@import "blocks/item-persona";
@import "blocks/footer";




@import "media";


// h1{
//     color:green;
//     font-family: 'Museo Sans Cyrl';
// }






