html,body{
   position: relative;
   font-family: 'Museo Sans Cyrl';
   color: #000;
   background-color: #fff;
 
}

@import "variables";
@import "mixin";

@import "blocks/title";
@import "blocks/item";

// @import "blocks/first";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/services";
@import "blocks/about";




@import "media";
h1{
    // color:green;
    font-family: 'Museo Sans Cyrl';
}






