.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 530px;
   &__img{
    height: auto;
    width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    // background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px $event-color;
    // -webkit-box-shadow: none;
    // box-shadow: none;
   } 
   &__descr{
    color: $text-color;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: 400;
   }

}