.title{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    color: $text-color;
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    border-bottom: 3px solid $event-color;
  
    span{
        color: $text-color;
        font-size: 36px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0;
        border-bottom: 3px solid $event-color;
        span{
            color: $event-color
        }
    }
    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: $event-color;
        top: 100%;
        left: -100px;

    }

}
.title-right{
    // transform: translate(650%, 200%);
    transform: translateY(200%);
    display: inline-block;
    margin-left: 60%;
}
.title-right-top{
    // transform: translate(650%, 200%);
    transform: translateY(-100%);
    display: inline-block;
    margin-left: 60%;
    margin-top: 40px;
}

@media screen and (max-width: 992px ){

    .title{
        // transform: translate(650%, 200%);
        // transform: translateY(200%);
        display: inline-block;
        margin-left: 25%;
    }
}
@media screen and (max-width: 992px ){

    .title-right{
        // transform: translate(650%, 200%);
        transform: translateY(200%);
        display: inline-block;
        margin-left: 60%;
    }
}
@media screen and (max-width: 760px ){

    .title-right{
        // transform: translate(650%, 200%);
        transform: translateY(200%);
        display: inline-block;
        margin-left: 40%;
    }
}