html, body {
  position: relative;
  font-family: 'Museo Sans Cyrl';
  color: #000;
  background-color: #fff; }

.title {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  color: #404044;
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
  border-bottom: 3px solid #01b3c6; }
  .title span {
    color: #404044;
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    border-bottom: 3px solid #01b3c6; }
    .title span span {
      color: #01b3c6; }
  .title::after {
    content: "";
    display: block;
    position: absolute;
    width: 160px;
    height: 3px;
    background-color: #01b3c6;
    top: 100%;
    left: -160px; }

.title-right {
  transform: translate(650%, 200%); }

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 440px; }
  .item__img {
    max-height: 300px;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px #01b3c6; }
  .item__descr {
    color: #404044;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: 400; }

.about__item .item__icon {
  position: relative;
  z-index: 100;
  height: 80px;
  width: 80px;
  font-size: 52px;
  display: flex;
  justify-content: center;
  align-items: center; }

.about__item .item__title {
  position: relative;
  z-index: 100; }

.about__item .item__descr {
  color: #fff;
  position: relative;
  z-index: 100;
  font-size: 16px; }

.header {
  width: 100%;
  height: 50px;
  position: fixed;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 -10px 25px #01b3c6; }
  .header__logo img {
    display: block;
    max-width: 100%;
    height: 49px;
    margin: auto;
    letter-spacing: 1px; }
  .header .header-nav {
    display: block; }
    .header .header-nav__list {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0;
      margin-top: 5px; }
      .header .header-nav__list :nth-child(1)::after {
        display: none; }
    .header .header-nav__list-info {
      box-shadow: none !important; }
      .header .header-nav__list-info a {
        color: #01b3c6 !important;
        font-weight: 700 !important;
        font-size: 16px !important; }
    .header .header-nav__item {
      position: relative;
      padding: 0px 10px; }
      .header .header-nav__item a {
        font-size: 15px;
        font-weight: 700;
        line-height: 14px;
        color: #000;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px; }
      .header .header-nav__item::after {
        content: "";
        position: absolute;
        display: block;
        width: 2px;
        height: 30px;
        top: -6px;
        left: -2px;
        background-color: #000; }

.promo {
  min-height: 940px;
  background: url(../img/header/home.jpg) no-repeat center center/cover;
  position: relative;
  padding-top: 1px; }
  .promo__wrapp {
    margin-top: 200px; }
  .promo__title {
    z-index: 2;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 163px;
    text-align: right;
    color: rgba(0, 0, 0, 0);
    font-family: Poppins,Sans-serif;
    font-size: 10em;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -1.8px;
    -webkit-text-stroke: 6px #eaa102;
    text-transform: uppercase; }
  .promo__subtitle {
    text-align: right;
    color: #01b3c6;
    font-size: 10em;
    font-weight: 700;
    line-height: 20PX;
    letter-spacing: -1.8px;
    text-transform: uppercase; }
  .promo__descr {
    margin-top: 83px;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    line-height: 40px;
    letter-spacing: 2.9px;
    text-shadow: 4px -1px 18px #000, 4px -1px 4px #01b3c6; }

.services {
  min-height: 800px;
  padding-top: 75px;
  padding-bottom: 60px; }
  .services__item {
    margin-top: 39px; }

.about {
  min-height: 900px;
  background-color: #E8FFFF; }
  .about__title {
    position: relative;
    z-index: 100; }
  .about__img {
    top: 0;
    left: -40px;
    position: absolute;
    max-height: 400px;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 5px #01b3c6; }
  .about__text p:nth-of-type(1) {
    color: #404044;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.2px;
    margin-top: 150px;
    padding-right: 135px; }
  .about__text p:nth-of-type(2) {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.4px;
    padding-right: 135px; }
  .about__item {
    color: #fff;
    position: relative;
    z-index: 2;
    margin-top: 50px;
    padding: 15px;
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 600px auto;
    box-shadow: 0 0 5px #01b3c6;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.29), 0 8px 8px rgba(0, 0, 0, 0.22);
    border-radius: 15px !important; }
    .about__item .item__overlay {
      border-radius: 5px; }
    .about__item-1 {
      background-image: url(../../img/about/about_1.jpg); }
      .about__item-1 .item__overlay {
        background-color: rgba(243, 121, 110, 0.8); }
    .about__item-2 {
      background-image: url(../../img/about/about_2.jpg); }
      .about__item-2 .item__overlay {
        background-color: rgba(249, 54, 223, 0.8); }
    .about__item-3 {
      background-image: url(../../img/about/about_3.jpeg); }
      .about__item-3 .item__overlay {
        background-color: rgba(33, 196, 180, 0.8); }
    .about__item .item__overlay {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.ability {
  min-height: 400px;
  padding: 50px 0 30px 0; }
  .ability__item {
    flex-direction: row;
    align-items: start;
    min-height: 265px;
    margin-top: 38px; }
    .ability__item .item__icon img {
      width: 90px;
      height: 90px;
      padding: 10px; }
    .ability__item .item__title {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 2em;
      letter-spacing: 1.2px; }
    .ability__item .item__descr {
      padding: 0px 10px;
      text-align: left; }
    .ability__item .item__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
  .ability__img {
    max-height: 500px; }

.numbers {
  min-height: 300px;
  padding: 90px 0;
  background-color: #373742; }
  .numbers__numbers-item {
    color: #fff; }
  .numbers .numbers-item__wrapp {
    display: flex;
    justify-content: center; }
  .numbers .numbers-item__icon {
    width: 100px;
    height: 100px; }
  .numbers .numbers-item__num {
    font-size: 48px;
    font-weight: 900;
    line-height: 1em;
    padding: 10px; }
  .numbers .numbers-item__descr {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.9px;
    text-align: right; }

@media screen and (max-width: 960px) {
  .promo {
    min-height: 650px; }
    .promo__wrapp {
      margin-top: 150px; }
    .promo__title {
      font-size: 100px; }
    .promo__subtitle {
      font-size: 75px; }
    .promo__descr {
      margin-top: 43px;
      font-size: 24px; }
  .title-right {
    transform: translate(65%, -56%); }
  .about .about__text p:nth-of-type(1) {
    margin-top: 50px;
    padding-right: 10px; }
  .about .about__text p:nth-of-type(2) {
    margin-top: 10px;
    padding-right: 10px; }
  .item {
    min-height: 383px; } }
